
.wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.input {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.btn {
    background-color: #3ce911;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}