
.wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.input {
    border-radius: 5px;
    background-color: rgb(199, 172, 172);
}

.btn {
}